@import "../../styles/colors";

.root {
  width: 100%;
  min-height: 24px;
  padding: 15px 0px 50px 0px;
  background-color: $blueGrey-40;
  border-radius: 5px;
  overflow: hidden;
  color: white;
  text-align: start;
  position: relative;
  margin: 10px 0px;
  transition: 0.2s background-color;

  & .hover {
    opacity: 0.3;
    transition: 0.2s;
  }

  &:hover .hover {
    opacity: 1;
  }
}

.focus {
  opacity: 0.5;
}

.text {
  width: 100%;
  padding: 0px 15px;
  overflow: hidden;
  text-wrap: wrap;
  word-break: break-word;
  overflow-wrap: break-word;
}

.svgDelete {
  position: absolute;
  right: 5px;
  bottom: 5px;
}
.svgEdit {
  position: absolute;
  right: 40px;
  bottom: 5px;
}
.svgHeart {
  position: absolute;
  right: 75px;
  bottom: 5px;
}

.profile {
  position: absolute;
  left: 15px;
  bottom: 10px;
  font-size: 12px;
  color: $blueGrey-30;
}

.favorite {
  background-color: $favorite;
}
