@import "../../styles/colors";

.root {
  width: auto;
  min-height: 24px;
  padding: 15px 0px 50px 0px;
  background-color: var(--theme-40);
  border-radius: 5px;
  overflow: hidden;
  color: white;
  text-align: start;
  position: relative;
  transition: 0.2s background-color;
  margin: 0px !important;

  & .hover {
    opacity: 0.5;
    transition: 0.2s;
  }

  &:hover .hover {
    opacity: 1;
  }
}

.focus {
  opacity: 0.5;
}

.text {
  width: auto;
  padding: 0px 15px;
  overflow: hidden;
  text-wrap: wrap;
  word-break: break-word;
  overflow-wrap: break-word;
  color: var(--text);
}

.btnContainer {
  position: absolute;
  right: 10px;
  bottom: 10px;
  display: flex;
  justify-content: end;
  align-items: center;
  gap: 7px;
}

.info {
  position: absolute;
  left: 15px;
  bottom: 10px;
  font-size: 14px;
  color: var(--theme-20);
  display: flex;
  justify-content: end;
  align-items: start;
  flex-direction: column;
}

.favorite {
  background-color: var(--themeBGFavorite);

  & .info {
    color: var(--themeFavorite);
  }
}

.checked {
  background-color: var(--themeBGChecked);

  & .info {
    color: var(--themeChecked);
  }
}
