$primary: #28c92d;
$secondary: #d2cc3c;
$danger: #c02a2a;
$invisible: #00000000;

$background: #000000;

$LightTheme-05: #393939;
$LightTheme-10: #5c5c5c;
$LightTheme-20: #747474;
$LightTheme-30: #8f8f8f;
$LightTheme-40: #c4c4c4;
$LightTheme-50: #e4e4e4;
$LightTheme-60: #e0e0e0;
$LightChecked: #5aa151;
$LightBGChecked: #94bc8f;
$LightFavorite: #a7a219;
$LightBGFavorite: #c9d38e;
$LightText: #00000099;

$BlueTheme-05: #c8cbed;
$BlueTheme-10: #626699;
$BlueTheme-20: #515480;
$BlueTheme-30: #3d3f60;
$BlueTheme-40: #27283e;
$BlueTheme-50: #181927;
$BlueTheme-60: #0c0d14;
$BlueChecked: #5aa151;
$BlueBGChecked: #303e2e;
$BlueFavorite: #d2cc3c;
$BlueBGFavorite: #3e3c2e;
$BlueText: #ffffff99;

$DarkTheme-05: #e6e6e6;
$DarkTheme-10: #939393;
$DarkTheme-20: #747474;
$DarkTheme-30: #595959;
$DarkTheme-40: #343434;
$DarkTheme-50: #232323;
$DarkTheme-60: #1b1b1b;
$DarkChecked: #5aa151;
$DarkBGChecked: #303e2e;
$DarkFavorite: #d2cc3c;
$DarkBGFavorite: #3e3c2e;
$DarkText: #ffffff99;
