$primary: #28c92d;
$secondary: #d2cc3c;
$danger: #c02a2a;
$invisible: #00000000;

$background: #000000;

$LightTheme-05: #1f261d;
$LightTheme-10: #66705f;
$LightTheme-20: #8f9a86;
$LightTheme-30: #c8d0c0;
$LightTheme-40: #eef1ea;
$LightTheme-50: #fafbf7;
$LightTheme-60: #e3e8dc;
$LightChecked: #4f8f55;
$LightBGChecked: #dcebd8;
$LightFavorite: #a88312;
$LightBGFavorite: #f1e6bd;
$LightText: #1e241ccc;
$LightLink: #637d28;

$BlueTheme-05: #c8cbed;
$BlueTheme-10: #626699;
$BlueTheme-20: #515480;
$BlueTheme-30: #3d3f60;
$BlueTheme-40: #27283e;
$BlueTheme-50: #181927;
$BlueTheme-60: #0c0d14;
$BlueChecked: #5aa151;
$BlueBGChecked: #303e2e;
$BlueFavorite: #d2cc3c;
$BlueBGFavorite: #3e3c2e;
$BlueText: #ffffff99;
$BlueLink: #bdb933;

$DarkTheme-05: #939393;
$DarkTheme-10: #747474;
$DarkTheme-20: #595959;
$DarkTheme-30: #343434;
$DarkTheme-40: #232323;
$DarkTheme-50: #1b1b1b;
$DarkTheme-60: #000000;
$DarkChecked: #5aa151;
$DarkBGChecked: #303e2e;
$DarkFavorite: #d2cc3c;
$DarkBGFavorite: #3e3c2e;
$DarkText: #ffffffd1;
$DarkLink: #bdb933;
