@import "../../styles/colors";

.root {
  width: 1040px;
  position: relative;
  margin: 55px 18px 0px 18px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.text {
  width: calc(100% - 50px);
}

.emptyList {
  margin-top: 30px;
  color: var(--text);
  font-size: 40px;
  position: absolute;
  top: 100px;
  width: 100%;
}
