@import "./styles/colors";

* {
  transition: background-color 0.5s;
}

body {
  background-color: var(--theme-50);
  font-family: Arial, Helvetica, sans-serif;
}

.root {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.back {
  background-color: var(--theme-20);
  border: 1px solid var(--theme-30);
}

.lightTheme {
  --theme-05: #{$LightTheme-05};
  --theme-10: #{$LightTheme-10};
  --theme-20: #{$LightTheme-20};
  --theme-30: #{$LightTheme-30};
  --theme-40: #{$LightTheme-40};
  --theme-50: #{$LightTheme-50};
  --theme-60: #{$LightTheme-60};
  --themeChecked: #{$LightChecked};
  --themeBGChecked: #{$LightBGChecked};
  --themeFavorite: #{$LightFavorite};
  --themeBGFavorite: #{$LightBGFavorite};
  --text: #{$LightText};
  --link: #{$LightLink};
}

.blueTheme {
  --theme-05: #{$BlueTheme-05};
  --theme-10: #{$BlueTheme-10};
  --theme-20: #{$BlueTheme-20};
  --theme-30: #{$BlueTheme-30};
  --theme-40: #{$BlueTheme-40};
  --theme-50: #{$BlueTheme-50};
  --theme-60: #{$BlueTheme-60};
  --themeChecked: #{$BlueChecked};
  --themeBGChecked: #{$BlueBGChecked};
  --themeFavorite: #{$BlueFavorite};
  --themeBGFavorite: #{$BlueBGFavorite};
  --text: #{$BlueText};
  --link: #{$BlueLink};
}

.darkTheme {
  --theme-05: #{$DarkTheme-05};
  --theme-10: #{$DarkTheme-10};
  --theme-20: #{$DarkTheme-20};
  --theme-30: #{$DarkTheme-30};
  --theme-40: #{$DarkTheme-40};
  --theme-50: #{$DarkTheme-50};
  --theme-60: #{$DarkTheme-60};
  --themeChecked: #{$DarkChecked};
  --themeBGChecked: #{$DarkBGChecked};
  --themeFavorite: #{$DarkFavorite};
  --themeBGFavorite: #{$DarkBGFavorite};
  --text: #{$DarkText};
  --link: #{$DarkLink};
}

.blackTheme {
  --theme-05: #{$BlackTheme-05};
  --theme-10: #{$BlackTheme-10};
  --theme-20: #{$BlackTheme-20};
  --theme-30: #{$BlackTheme-30};
  --theme-40: #{$BlackTheme-40};
  --theme-50: #{$BlackTheme-50};
  --theme-60: #{$BlackTheme-60};
  --themeChecked: #{$BlackChecked};
  --themeBGChecked: #{$BlackBGChecked};
  --themeFavorite: #{$BlackFavorite};
  --themeBGFavorite: #{$BlackBGFavorite};
  --text: #{$BlackText};
  --link: #{$BlackLink};
}
