@import "./styles/colors";

body {
  background-color: var(--blueGrey-50);
  font-family: Arial, Helvetica, sans-serif;
}

.root {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.back {
  background-color: var(--blueGrey-20);
  border: 1px solid var(--blueGrey-30);
}

.lightTheme {
  --blueGrey-05: #393939;
  --blueGrey-10: #5c5c5c;
  --blueGrey-20: #747474;
  --blueGrey-30: #8f8f8f;
  --blueGrey-40: #c4c4c4;
  --blueGrey-50: #e4e4e4;
  --blueGrey-60: #e0e0e0;

  --text: #00000099;
}

.blueTheme {
  --blueGrey-05: #c8cbed;
  --blueGrey-10: #626699;
  --blueGrey-20: #515480;
  --blueGrey-30: #3d3f60;
  --blueGrey-40: #27283e;
  --blueGrey-50: #181927;
  --blueGrey-60: #0c0d14;

  --text: #ffffff99;
}
.darkTheme {
  --blueGrey-05: #e6e6e6;
  --blueGrey-10: #939393;
  --blueGrey-20: #747474;
  --blueGrey-30: #595959;
  --blueGrey-40: #343434;
  --blueGrey-50: #232323;
  --blueGrey-60: #1b1b1b;

  --text: #ffffff99;
}
